<head>
    <meta charset="utf-8"/>
    <title>Cinemalist</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="copyright" content="(c)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!-- <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="favicon.ico" rel="icon" type="image/vnd.microsoft.icon"> -->
    <link rel="stylesheet" href="components/custom-tooltips/tipso.min.css"/>
    <link rel="stylesheet" href="components/custom-select/chosen.css"/>
    <link rel="stylesheet" href="components/popupbox/source/jquery.fancybox.css"/>
    <link rel="stylesheet" href="assets/css/styles.css"/>

    <script type="text/javascript">
        function checkSidebar() {
            var content = document.querySelectorAll('.content')[0],
                body = document.querySelectorAll('body')[0],
                className = 'content--minimized';


            if (body.offsetWidth < 1900) {
                if (content.classList)
                    content.classList.add(className);
                else
                    content.className += ' ' + className;
            } else {
                if (content.classList)
                    content.classList.remove(className);
                else
                    content.className = content.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ')
            }
        }
        window.addEventListener('resize', function () {
            checkSidebar();
        });
    </script>
</head>