<!-- Begin header -->
<header class="header">
    <div class="container-fluid">
        <!-- Begin header__logo -->
        <div class="header__logo">
            <a href="#" class="cinemalist-logotype">Cinemalist</a>
        </div>
        <!-- End header__logo -->
        <nav class="header__nav">
            <ul class="navigation">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Люди</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">База знаний</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Блог</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">О нас</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Контакты</a>
                </li>
            </ul>
            <a href="#" class="burger js-menu-toggle">
                <span class="burger-span"></span>
            </a>
        </nav>
    </div>
</header>
<!-- End header -->